// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#things li > blockquote {
  /* via https://developer.mozilla.org/en-US/docs/CSS/white-space */
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: pre-wrap;
  font-family: monospace; /* Needed for books */
}

/* to be toggled */
.bigthing {
  display: none;
}

#morgue {
  .toggle-list .toggle-on {
    display: inherit;
  }

  .toggle-list .toggle-off {
    display: none;
  }	    
}

#pointer-up {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: smaller;
}
