<%= link_to "Soup Stash", root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to 'Games', games_path %></li>
  <li><%= link_to 'About', '/about' %></li>
</ul>
<form class="navbar-form">
  <input id="player-search" class="search-query" placeholder="Find player">
</form>
