<%= link_to "Soup Stash", root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to 'Games', games_path %></li>
  <li><%= link_to 'About', '/about' %></li>
</ul>
<form class="navbar-form" action="/players/search" method="GET">
  <input id="player-search"
         class="search-query"
         name="q"
         placeholder="Find player">
</form>
